<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" style="background-color: #f5f5f5;">
        <div class="panel-body">
          <h3>Creating Program rules for dispensary........</h3>
          <table class="table">
            <tr>
              <th>#</th>
              <th>Object</th>
              <th>Created</th>
              <th>Rejected</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Program Rule Variables</td>
              <td>{{variableCreated}}</td>
              <td>{{variableRejected}}</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Program Rules</td>
              <td>{{ruleCreated}}</td>
              <td>{{ruleRejected}}</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Program Rule Actions</td>
              <td>{{actionCreated}}</td>
              <td>{{actionRejected}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
